name: Update WC Sequences

on:
  workflow_dispatch:

jobs:
  update-sequences:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Update sequences in DB
        env:
          DATABASE_URI: ${{ secrets.DATABASE_URI }}
          TURSO_AUTH_TOKEN: ${{ secrets.TURSO_AUTH_TOKEN }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
        run: python update_wc_sequences.py
